* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    


}
header {
    margin-top: 5%;
    margin-bottom: 2.5%;
    background-color: #B4C9DD;
    width: 50%;
    margin: auto;

}
h1 {
    margin: 1rem;
    text-align: center;
}


form{
    width: 25%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px black;
    border-radius: 0.5rem;
    background-color: #B4C9DD;
    text-align: center;
    
}
fieldset{
    width: 25%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px black;
    background-color: #B4C9DD;
    
}
legend{
    padding: 0.5rem;
    font-size: 1.3rem;
    text-align: center;

}

label {
    text-align: center;
    padding-right: 1rem;
}
input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;

}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    
}
button {
    display:block;
    margin: 1rem auto;  
    background-color: #B4C9DD;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: #1B445F;
    color:#B4C9DD
}
footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc
}