:root {
    --text-aling: center;
}

header nav {
    grid-column: 2/4;
    display: flex;
    justify-content: space-around;
    background-color: steelblue;
    padding: 10px;
}
a{
    text-decoration: none;
}
nav a {
    text-align: center;
    color: white;
    display: block;
    padding: 1em;

}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.788);
    color: steelblue;
}


.hero .back {
    width: auto;
    max-height: 55rem;
    grid-column-start:1;
    grid-column-end: 4;
}
.hero h1 {
    color: steelblue;
}

main .me {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-aling);
}

aside img {
    width: 200px;
    height: auto;
}
p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-aling);
}
.social_links {


    text-align: center;
    border-top: 1px solid #000;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20% 50% 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
}
.social_links p {
    grid-column-start: 2;
}
.social_links a {
    text-decoration: none;
 
}
    
    

.social_links a img {

    margin-top: 15px;
    width: 50%;
    max-width: 40px;
    
}
